---
const { number, name, year, hasDetails } = Astro.props;
const formattedNumber = number.replaceAll(".", "-");
---

<li>
  <div class="image-wrapper">
    <img src={`/images/s${formattedNumber}.png`} loading="lazy" />
  </div>

  <p>
    {
      hasDetails ? (
        <a href={`/signs/${formattedNumber}`}>
          {number}
          <br />
          {name}
        </a>
      ) : (
        <>
          {number}
          <br />
          {name}
        </>
      )
    }
  </p>
  {year && <div class="badge-wrapper"><span class="year">{year}</span></div>}
</li>

<style>
  li {
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    height: 125px;
    padding: 0.5rem;
  }

  li > div > img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  li > p {
    word-wrap: break-word;
    text-align: center;
    margin: 0;
    background-color: #eeeeee;
    flex-grow: 1;
    padding: 0.5rem;
    line-height: 1.5rem;
  }

  li > p > a {
    color: inherit;
  }

  li > p > a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .badge-wrapper {
    display: flex;
    justify-content: center;
  }

  .year {
    padding: 0 0.2rem;
  }
</style>
